/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = lighten(#0d8b91, 10%)
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #f8f8f8
$codeBgColor = #000000
$arrowBgColor = #ccc
